* {
  margin: 0;
  padding: 0;
  text-align: center;
}
button {
  display: inline-block;
  padding: 10px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  background-color: hotpink;
}

.container {
  margin: 5px;
  text-align: center;
}
.container .blocks {
  display: inline-block;
  padding: 3px;
  visibility: hidden;
}
.blocks {
  height: 100px;
  width: 100px;
}
#counter {
  margin: 15px !important;
  display: inline;
  padding: 15px;
  border: 1px solid grey;
  font-size: 25px;
  visibility: hidden;
}
